<h1>Ask a question</h1>

<%= form_for :question, url:questions_path do |f| %>
 <% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
   <p>
    <%= f.label :'My Question' %><br>
    <%= f.text_area :question %>
  </p>
 
  <p>
    <%= f.submit 'Ask!', class: "btn btn-large btn-primary"%>
  </p>
<% end %>

<p>Interested in being notified when we launch?</p>
<%=link_to "sign up", new_email_path %>