<h1>Ask a question</h1>
<div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Ask anything that's on your mind either in your current location or to people around the world. </h2>

          <div style='width: 500x;'>
            <div id="map-canvas" style='width: 500px; height: 300px;'></div>
          </div>

          </br>
          <div id='panel'>
          <input id='address' type='textbox' value='Stanford, CA'>
          <input onclick='codeAddress()' type='submit' value='new location' class="btn btn-default btn-warning">
          </div>

          <%= form_for :question, url:questions_path do |f| %>
           <% if @question.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@question.errors.count, "error") %> prohibited
                this post from being saved:</h2>
              <ul>
              <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
            <% end %>
             <p>
              <%= f.label :'My Question' %><br>
              <%= f.text_area :question %>
              <%= f.text_area :radius %>
              <%= f.text_area :latitude %>
              <%= f.text_area :longitude %>
            </p>
           
            <p>
              <%= f.submit 'Ask!', class: "btn btn-large btn-primary"%>
            </p>
         <% end %>
        </div>
        <div class="col-lg-6">
        <h2> Recently asked questions</h2>
        <table class ="table table-bordered">
          <thead>
            <tr>
              <th>Question</th>
              <th>From</th>
            </tr>
          </thead>
        <% for question in @newest_questions %>
          <tr>
            <td>
            <%= question.question %>
          </td>
          <td>
            Somewhere near <%= question.location %>
          </td>
        </tr>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  </br>


