<h1>Ask a question</h1>
<h2>Ask anything that's on your mind either in your current location or to people around the world. </h2>
<div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div style='width: 500x;'>
            <div id="map-canvas" style='width: 500px; height: 300px;'></div>
          </div>

          </br>
          <div id='panel'>
          <input id='address' type='textbox' value='Stanford, CA'>
          <input onclick='codeAddress()' type='submit' value='new location' class="btn btn-default btn-warning">
          </div>

          <%= form_for :question, url:questions_path do |f| %>
           <% if @question.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@question.errors.count, "error") %> prohibited
                this post from being saved:</h2>
              <ul>
              <% @question.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
            <% end %>
             <p>
              <%= f.label :'My Question' %><br>
              <%= f.text_area :question %>
              <%= f.text_area :radius %>
              <%= f.text_area :latitude %>
              <%= f.text_area :longitude %>




            </p>
           
            <p>
              <%= f.submit 'Ask!', class: "btn btn-large btn-primary"%>
            </p>
            <p>Interested in being notified when we launch? &nbsp; <%=link_to "Sign up", new_email_path, data: { no_turbolink: true } %></p>
          <% end %>
        </div>
        <div class="col-lg-4">
<!--might move stuff here so everything is above the fold -->
        </div>
      </div>
    </div>

  </br>


